## Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Authorization for Hospital Admission Data

The AIH datasets contains data on hospital production and services in Brazil. The data that will be used here is the Authorization for Hospital Admission. This dataset is part of `Brazil’s SIHSUS Hospital Information System`. This system manages the coordination and payment by Brazil’s public healthcare system (covers around 34% of Brazil’s population). In this application, I will be using data from 2015 – 2018. This represents 3.5 years’ of information.

A record in the AIH database is created when a hospital or healthcare unit generates a request for hospitalization. Providers submit demographic and health information about the patient. This request is ultimately approved or rejected. While the patient is in the hospital, the record is updated to also contain information about procedures performed and discharge. 

More information about this data can be found below: 

* [DataSUS Website](http://datasus.saude.gov.br/informacoes-de-saude)
* [AIH Data Fields](https://github.com/IvetteMTapia/Capstone-2_Deep_Learning/blob/master/IT_SIHSUS_1603_DataDict.pdf)

## Data Pre -  Processing Information

* Due to the size of the files, the data was extracted to a local machine. The extraction website can be found at: [DataSUS public file download site](http://www2.datasus.gov.br/DATASUS/index.php?area=0901).

* The format of the files at extraction was .dbc. The .dbc format compresses .dbf files. This format is propetary and used by Brazil's IT department to distribute the large files in their database. The .dbc files are a compressed version of .dbf files. 

* I have already done the pre-procesing step of converting the .dbc files to .csv files using R. The R envioroment has a R package specifically written to read and de-compresss these type of files. You can find the R code used for the  conversion [here](https://github.com/IvetteMTapia/Capstone-2_Deep_Learning/blob/master/Convert%20from%20dbc%20to%20CSV.R).

## Create Dictionary of Variable Definitions for Reference

* *This dictionary contains dataset variables type and description information.*

In [2]:
var_spread_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/IT_SIHSUS_1603_DataDict.xlsx')

var_df = pd.read_excel(var_spread_path, index_col = 'Field_Name')
var_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113 entries, UF_ZI to TPDISEC9
Data columns (total 2 columns):
Type of Field    113 non-null object
Description      113 non-null object
dtypes: object(2)
memory usage: 2.6+ KB

In [3]:
var_def_dict = var_df.to_dict(orient = 'index')
var_def_dict

{'UF_ZI': {'Type of Field': 'char(6)', 'Description': 'Municipality Manager'},
 'ANO_CMPT': {'Type of Field': 'char(4)',
  'Description': 'Year of AIH processing, in yyyy format.'},
 'MÊS_CMPT': {'Type of Field': 'char(2)',
  'Description': 'Month of AIH processing, in mm format.'},
 'ESPEC': {'Type of Field': 'char(2)', 'Description': 'Specialty of Bed'},
 'CGC_HOSP': {'Type of Field': 'char(14)',
  'Description': 'CNPJ of the Establishment'},
 'N_AIH': {'Type of Field': 'char(13)', 'Description': 'Number of AIH'},
 'IDENT': {'Type of Field': 'char(1)',
  'Description': 'Identification of the type of AIH'},
 'CEP': {'Type of Field': 'char(8)', 'Description': 'CEP of the patient'},
 'MUNIC_RES': {'Type of Field': 'char(6)',
  'Description': "Municipality of Patient's Residence"},
 'NASC': {'Type of Field': 'char(8)',
  'Description': 'Date of birth of the patient (yyyammdd)'},
 'SEXO': {'Type of Field': 'char(1)', 'Description': 'Sex of patient'},
 'UTI_MES_IN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_MES_AN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_MES_AL': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_MES_TO': {'Type of Field': 'numeric(3)',
  'Description': 'Number of ICU days in the month'},
 'MARCA_UTI': {'Type of Field': 'char(2)',
  'Description': 'Indicates the type of ICU used by the patient'},
 'UTI_INT_IN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_INT_AN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_INT_AL': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_INT_TO': {'Type of Field': 'numeric(3)',
  'Description': 'Number of nights in intermediate unit'},
 'DIAR_ACOM': {'Type of Field': 'numeric(3)',
  'Description': 'Number of companion nights'},
 'QT_DIARIAS': {'Type of Field': 'numeric(3)',
  'Description': 'Number of nights'},
 'PROC_SOLIC': {'Type of Field': 'char(10)',
  'Description': 'Procedure requested'},
 'PROC_REA': {'Type of Field': 'char(10)',
  'Description': 'Procedure performed'},
 'VAL_SH': {'Type of Field': 'numeric(13,2)',
  'Description': 'Value of hospital services'},
 'VAL_SP': {'Type of Field': 'numeric(13,2)',
  'Description': 'Value of professional services'},
 'VAL_SADT': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_RN': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_ACOMP': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_ORTP': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_SANGUE': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_SADTSR': {'Type of Field': 'numeric(11,2)', 'Description': 'Reset'},
 'VAL_TRANSP': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_OBSANG': {'Type of Field': 'numeric(11,2)', 'Description': 'Reset'},
 'VAL_PED1AC': {'Type of Field': 'numeric(11,2)', 'Description': 'Reset'},
 'VAL_TOT': {'Type of Field': 'numeric(14,2)',
  'Description': 'Total value of the AIH'},
 'VAL_UTI': {'Type of Field': 'numeric(8,2)', 'Description': 'Value of ICU'},
 'US_TOT': {'Type of Field': 'numeric(10,2)',
  'Description': 'Total value, in US dollars'},
 'DI_INTER': {'Type of Field': 'char(8)',
  'Description': 'Date of hospitalization in aaammdd format'},
 'DT_SAIDA': {'Type of Field': 'char(8)',
  'Description': 'Exit date in yyyammdd format'},
 'DIAG_PRINC': {'Type of Field': 'char(4)',
  'Description': 'Code of the main diagnosis (CID10)'},
 'DIAG_SECUN': {'Type of Field': 'char(4)',
  'Description': 'Secondary diagnosis code (ICD10). Filled with zeros from 201501.'},
 'COBRANCA': {'Type of Field': 'char(2)',
  'Description': 'Reason for Exit / Stay'},
 'NATUREZA': {'Type of Field': 'char(2)',
  'Description': 'Legal nature of the hospital (with content until May / 12). It was used the classification of Regime and Nature.'},
 'NAT_JUR': {'Type of Field': 'char(4)',
  'Description': 'Legal nature of the establishment, as the Commission National classification - CONCLA'},
 'DESTAO': {'Type of Field': 'char(1)',
  'Description': 'Type of hospital management'},
 'RUBRICA': {'Type of Field': 'numeric(5)', 'Description': 'Reset'},
 'IND_VDRL': {'Type of Field': 'char(1)',
  'Description': 'Indicates VDRL exam'},
 'MUNIC_MOV': {'Type of Field': 'char(6)',
  'Description': 'Municipality of the Establishment'},
 'COD_IDADE': {'Type of Field': 'char(1)',
  'Description': 'Unit of measure of age'},
 'IDADE': {'Type of Field': 'numeric(2)', 'Description': 'Age'},
 'DIAS_PERM': {'Type of Field': 'numeric(5)', 'Description': 'Days of Stay'},
 'MORTE': {'Type of Field': 'numeric(1)', 'Description': 'Indicates Death'},
 'NACIONAL': {'Type of Field': 'char(2)',
  'Description': 'Code of nationality of the patient'},
 'NUM_PROC': {'Type of Field': 'char(4)', 'Description': 'Reset'},
 'CAR_INT': {'Type of Field': 'char(2)',
  'Description': 'Character of hospitalization'},
 'TOT_PT_SP': {'Type of Field': 'numeric(6)', 'Description': 'Reset'},
 'CPF_AUT': {'Type of Field': 'char(11)', 'Description': 'Reset'},
 'HOMONIMO': {'Type of Field': 'char(1)',
  'Description': 'Indicator if the patient of the AIH is homonymous with the another AIH.'},
 'NUM_FILHOS': {'Type of Field': 'numeric(2)',
  'Description': 'Number of children of the patient'},
 'INSTRU': {'Type of Field': 'char(1)',
  'Description': 'Degree of instruction of the patient'},
 'CID_NOTIF': {'Type of Field': 'char(4)',
  'Description': 'CID of Notification'},
 'CONTRACEP1': {'Type of Field': 'char(2)',
  'Description': 'Type of contraceptive used'},
 'CONTRACEP2': {'Type of Field': 'char(2)',
  'Description': 'Second type of contraceptive used'},
 'GESTRISCO': {'Type of Field': 'char(1)',
  'Description': 'Indicator if pregnant at risk'},
 'INSC_PN': {'Type of Field': 'char(12)',
  'Description': 'Number of the pregnant woman in prenatal care'},
 'SEQ_AIH5': {'Type of Field': 'char(3)',
  'Description': 'Long-stay sequential (AIH type 5)'},
 'CBOR': {'Type of Field': 'char(3)',
  'Description': 'Occupancy of the patient, according to the Brazilian Occupations - CBO.'},
 'CNAER': {'Type of Field': 'char(3)', 'Description': 'Work accident code'},
 'VINCPREV': {'Type of Field': 'char(1)',
  'Description': 'Link with the Pension Fund'},
 'GESTOR_COD': {'Type of Field': 'char(3)',
  'Description': 'Reason for authorization of the AIH by the Manager'},
 'GESTOR_TP': {'Type of Field': 'char(1)', 'Description': 'Type of manager'},
 'GESTOR_CPF': {'Type of Field': 'char(11)',
  'Description': "Manager's CPF number"},
 'GESTOR_DT': {'Type of Field': 'char(8)',
  'Description': 'Date of authorization given by the Manager (yyyammdd)'},
 'CNES': {'Type of Field': 'char(7)',
  'Description': 'CNES code of the hospital'},
 'CNPJ_MANT': {'Type of Field': 'char(14)',
  'Description': 'CNPJ of the maintainer'},
 'INFEHOSP': {'Type of Field': 'char(1)',
  'Description': 'Hospital infection status'},
 'CID_ASSO': {'Type of Field': 'char(4)', 'Description': 'CID causes'},
 'CID_MORTE': {'Type of Field': 'char(4)', 'Description': 'CID of death'},
 'COMPLEX': {'Type of Field': 'char(2)', 'Description': 'Complexity'},
 'FINANC': {'Type of Field': 'char(2)', 'Description': 'Type of financing'},
 'FAEC_TP': {'Type of Field': 'char(6)',
  'Description': 'Financing subtype FAEC'},
 'REGCT': {'Type of Field': 'char(4)', 'Description': 'Contract rule'},
 'RACA_COR': {'Type of Field': 'char(4)',
  'Description': 'Race / Color of the patient'},
 'ETNIA': {'Type of Field': 'char(4)',
  'Description': 'Ethnicity of patient, if race color is indigenous'},
 'SEQUENCIA': {'Type of Field': 'numeric(9)',
  'Description': 'Sequential of the AIH in the consignment'},
 'REMESSA': {'Type of Field': 'char(21)', 'Description': 'Shipping number'},
 'AUD_JUST': {'Type of Field': 'char (50)',
  'Description': "Auditor's justification for acceptance of the IAI without the National Health Card."},
 'SIS_JUST': {'Type of Field': 'char (50)',
  'Description': 'Rationale of the establishment for acceptance of the AIH without number of the National Health Card'},
 'VAL_SH_FED': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the federal complement of hospital services. It is included in the total value of the AIH.'},
 'VAL_SP_FED': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the federal complement of professional services. It is included in the total value of the AIH.'},
 'VAL_SH_GES': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the complement of the manager (state or municipal) of hospital services. It is included in the total value of the AIH.'},
 'VAL_SP_GES': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the complement of the manager (state or municipal) of profesional services.It is included in the total value of the AIH.'},
 'VAL_UCI': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of ICU.'},
 'MARCA_UCI': {'Type of Field': 'char (2)',
  'Description': 'Type of ICU used by the patient.'},
 'DIAGSEC1': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis1'},
 'DIAGSEC2': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis2'},
 'DIAGSEC3': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis3'},
 'DIAGSEC4': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis4'},
 'DIAGSEC5': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis5'},
 'DIAGSEC6': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis6'},
 'DIAGSEC7': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis7'},
 'DIAGSEC8': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis8'},
 'DIAGSEC9': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis9'},
 'TPDISEC1': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 1'},
 'TPDISEC2': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 2'},
 'TPDISEC3': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 3'},
 'TPDISEC4': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 4'},
 'TPDISEC5': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 5'},
 'TPDISEC6': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 6'},
 'TPDISEC7': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 7'},
 'TPDISEC8': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 8'},
 'TPDISEC9': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 9'}}

## Sample file

*Loading the larger files takes a long time*

In [4]:
sample_2017_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/sample_2017.csv')

Open small sample file from 2017. Use only first five columns.

In [15]:
%%time

sample_2017_1 = pd.read_csv(sample_2017_path, 
                          index_col = ['Unnamed: 0'],
                          usecols = [0,1,2,3,4,5], 
                          engine='python')

CPU times: user 92.5 ms, sys: 8.44 ms, total: 101 ms
Wall time: 100 ms

In [19]:
print(sample_2017_1.info())
sample_2017_1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3512 entries, 1 to 3512
Data columns (total 5 columns):
UF_ZI       3512 non-null int64
ANO_CMPT    3512 non-null int64
MES_CMPT    3512 non-null int64
ESPEC       3512 non-null int64
CGC_HOSP    3510 non-null float64
dtypes: float64(1), int64(4)
memory usage: 164.6 KB
None

    UF_ZI  ANO_CMPT  MES_CMPT  ESPEC      CGC_HOSP
1  120000      2017         1      3  6.360294e+13
2  120000      2017         1      3  6.360294e+13
3  120000      2017         1      3  6.360294e+13
4  120000      2017         1      1  5.294430e+11
5  120000      2017         1      1  5.294430e+11

**Results: It was fast, no issues.**

Open small sample file from 2017. Bring all available columns.

In [42]:
%%time

sample_2017_2 = pd.read_csv(sample_2017_path, 
                          index_col = ['Unnamed: 0'], 
                          engine='python')

CPU times: user 324 ms, sys: 9.96 ms, total: 334 ms
Wall time: 333 ms

In [43]:
sample_2017_2.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3512 entries, 1 to 3512
Data columns (total 113 columns):
UF_ZI         3512 non-null int64
ANO_CMPT      3512 non-null int64
MES_CMPT      3512 non-null int64
ESPEC         3512 non-null int64
CGC_HOSP      3510 non-null float64
N_AIH         3512 non-null int64
IDENT         3512 non-null int64
CEP           3512 non-null int64
MUNIC_RES     3512 non-null int64
NASC          3512 non-null int64
SEXO          3512 non-null int64
UTI_MES_IN    3512 non-null int64
UTI_MES_AN    3512 non-null int64
UTI_MES_AL    3512 non-null int64
UTI_MES_TO    3512 non-null int64
MARCA_UTI     3512 non-null int64
UTI_INT_IN    3512 non-null int64
UTI_INT_AN    3512 non-null int64
UTI_INT_AL    3512 non-null int64
UTI_INT_TO    3512 non-null int64
DIAR_ACOM     3512 non-null int64
QT_DIARIAS    3512 non-null int64
PROC_SOLIC    3512 non-null int64
PROC_REA      3512 non-null int64
VAL_SH        3512 non-null float64
VAL_SP        3512 non-null float64
VAL_SADT      3512 non-null int64
VAL_RN        3512 non-null int64
VAL_ACOMP     3512 non-null int64
VAL_ORTP      3512 non-null int64
VAL_SANGUE    3512 non-null int64
VAL_SADTSR    3512 non-null int64
VAL_TRANSP    3512 non-null int64
VAL_OBSANG    3512 non-null int64
VAL_PED1AC    3512 non-null int64
VAL_TOT       3512 non-null float64
VAL_UTI       3512 non-null float64
US_TOT        3512 non-null float64
DT_INTER      3512 non-null int64
DT_SAIDA      3512 non-null int64
DIAG_PRINC    3512 non-null object
DIAG_SECUN    3512 non-null int64
COBRANCA      3512 non-null int64
NATUREZA      3512 non-null int64
NAT_JUR       3512 non-null int64
GESTAO        3512 non-null int64
RUBRICA       3512 non-null int64
IND_VDRL      3512 non-null int64
MUNIC_MOV     3512 non-null int64
COD_IDADE     3512 non-null int64
IDADE         3512 non-null int64
DIAS_PERM     3512 non-null int64
MORTE         3512 non-null int64
NACIONAL      3512 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       3512 non-null int64
TOT_PT_SP     3512 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      3512 non-null int64
NUM_FILHOS    3512 non-null int64
INSTRU        3512 non-null int64
CID_NOTIF     9 non-null object
CONTRACEP1    3512 non-null int64
CONTRACEP2    3512 non-null int64
GESTRISCO     3512 non-null int64
INSC_PN       3512 non-null int64
SEQ_AIH5      3512 non-null int64
CBOR          3512 non-null int64
CNAER         3512 non-null int64
VINCPREV      3512 non-null int64
GESTOR_COD    3512 non-null int64
GESTOR_TP     3512 non-null int64
GESTOR_CPF    3512 non-null int64
GESTOR_DT     0 non-null float64
CNES          3512 non-null int64
CNPJ_MANT     3053 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      3512 non-null int64
CID_MORTE     3512 non-null int64
COMPLEX       3512 non-null int64
FINANC        3512 non-null int64
FAEC_TP       9 non-null float64
REGCT         3512 non-null int64
RACA_COR      3512 non-null int64
ETNIA         3512 non-null int64
SEQUENCIA     3512 non-null int64
REMESSA       3512 non-null object
AUD_JUST      222 non-null object
SIS_JUST      222 non-null object
VAL_SH_FED    3512 non-null int64
VAL_SP_FED    3512 non-null int64
VAL_SH_GES    3512 non-null int64
VAL_SP_GES    3512 non-null int64
VAL_UCI       3512 non-null int64
MARCA_UCI     3512 non-null int64
DIAGSEC1      447 non-null object
DIAGSEC2      0 non-null float64
DIAGSEC3      0 non-null float64
DIAGSEC4      0 non-null float64
DIAGSEC5      0 non-null float64
DIAGSEC6      0 non-null float64
DIAGSEC7      0 non-null float64
DIAGSEC8      0 non-null float64
DIAGSEC9      0 non-null float64
TPDISEC1      3512 non-null int64
TPDISEC2      3512 non-null int64
TPDISEC3      3512 non-null int64
TPDISEC4      3512 non-null int64
TPDISEC5      3512 non-null int64
TPDISEC6      3512 non-null int64
TPDISEC7      3512 non-null int64
TPDISEC8      3512 non-null int64
TPDISEC9      3512 non-null int64
dtypes: float64(20), int64(87), object(6)
memory usage: 3.1+ MB

In [32]:
sample_2017_1.head()

    UF_ZI  ANO_CMPT  MES_CMPT  ESPEC      CGC_HOSP
1  120000      2017         1      3  6.360294e+13
2  120000      2017         1      3  6.360294e+13
3  120000      2017         1      3  6.360294e+13
4  120000      2017         1      1  5.294430e+11
5  120000      2017         1      1  5.294430e+11

In [47]:
#Zeroes represent nulls in these columns. Replace 0's with np.nan

sample_2017_2['TPDISEC1'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC2'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC3'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC4'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC5'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC6'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC7'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC8'].replace(to_replace=0, value =np.nan, inplace=True)
sample_2017_2['TPDISEC9'].replace(to_replace=0, value =np.nan, inplace=True)

In [48]:
sample_2017_2.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3512 entries, 1 to 3512
Data columns (total 113 columns):
UF_ZI         3512 non-null int64
ANO_CMPT      3512 non-null int64
MES_CMPT      3512 non-null int64
ESPEC         3512 non-null int64
CGC_HOSP      3510 non-null float64
N_AIH         3512 non-null int64
IDENT         3512 non-null int64
CEP           3512 non-null int64
MUNIC_RES     3512 non-null int64
NASC          3512 non-null int64
SEXO          3512 non-null int64
UTI_MES_IN    3512 non-null int64
UTI_MES_AN    3512 non-null int64
UTI_MES_AL    3512 non-null int64
UTI_MES_TO    3512 non-null int64
MARCA_UTI     3512 non-null int64
UTI_INT_IN    3512 non-null int64
UTI_INT_AN    3512 non-null int64
UTI_INT_AL    3512 non-null int64
UTI_INT_TO    3512 non-null int64
DIAR_ACOM     3512 non-null int64
QT_DIARIAS    3512 non-null int64
PROC_SOLIC    3512 non-null int64
PROC_REA      3512 non-null int64
VAL_SH        3512 non-null float64
VAL_SP        3512 non-null float64
VAL_SADT      3512 non-null int64
VAL_RN        3512 non-null int64
VAL_ACOMP     3512 non-null int64
VAL_ORTP      3512 non-null int64
VAL_SANGUE    3512 non-null int64
VAL_SADTSR    3512 non-null int64
VAL_TRANSP    3512 non-null int64
VAL_OBSANG    3512 non-null int64
VAL_PED1AC    3512 non-null int64
VAL_TOT       3512 non-null float64
VAL_UTI       3512 non-null float64
US_TOT        3512 non-null float64
DT_INTER      3512 non-null int64
DT_SAIDA      3512 non-null int64
DIAG_PRINC    3512 non-null object
DIAG_SECUN    3512 non-null int64
COBRANCA      3512 non-null int64
NATUREZA      3512 non-null int64
NAT_JUR       3512 non-null int64
GESTAO        3512 non-null int64
RUBRICA       3512 non-null int64
IND_VDRL      3512 non-null int64
MUNIC_MOV     3512 non-null int64
COD_IDADE     3512 non-null int64
IDADE         3512 non-null int64
DIAS_PERM     3512 non-null int64
MORTE         3512 non-null int64
NACIONAL      3512 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       3512 non-null int64
TOT_PT_SP     3512 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      3512 non-null int64
NUM_FILHOS    3512 non-null int64
INSTRU        3512 non-null int64
CID_NOTIF     9 non-null object
CONTRACEP1    3512 non-null int64
CONTRACEP2    3512 non-null int64
GESTRISCO     3512 non-null int64
INSC_PN       3512 non-null int64
SEQ_AIH5      3512 non-null int64
CBOR          3512 non-null int64
CNAER         3512 non-null int64
VINCPREV      3512 non-null int64
GESTOR_COD    3512 non-null int64
GESTOR_TP     3512 non-null int64
GESTOR_CPF    3512 non-null int64
GESTOR_DT     0 non-null float64
CNES          3512 non-null int64
CNPJ_MANT     3053 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      3512 non-null int64
CID_MORTE     3512 non-null int64
COMPLEX       3512 non-null int64
FINANC        3512 non-null int64
FAEC_TP       9 non-null float64
REGCT         3512 non-null int64
RACA_COR      3512 non-null int64
ETNIA         3512 non-null int64
SEQUENCIA     3512 non-null int64
REMESSA       3512 non-null object
AUD_JUST      222 non-null object
SIS_JUST      222 non-null object
VAL_SH_FED    3512 non-null int64
VAL_SP_FED    3512 non-null int64
VAL_SH_GES    3512 non-null int64
VAL_SP_GES    3512 non-null int64
VAL_UCI       3512 non-null int64
MARCA_UCI     3512 non-null int64
DIAGSEC1      447 non-null object
DIAGSEC2      0 non-null float64
DIAGSEC3      0 non-null float64
DIAGSEC4      0 non-null float64
DIAGSEC5      0 non-null float64
DIAGSEC6      0 non-null float64
DIAGSEC7      0 non-null float64
DIAGSEC8      0 non-null float64
DIAGSEC9      0 non-null float64
TPDISEC1      447 non-null float64
TPDISEC2      0 non-null float64
TPDISEC3      0 non-null float64
TPDISEC4      0 non-null float64
TPDISEC5      0 non-null float64
TPDISEC6      0 non-null float64
TPDISEC7      0 non-null float64
TPDISEC8      0 non-null float64
TPDISEC9      0 non-null float64
dtypes: float64(29), int64(78), object(6)
memory usage: 3.1+ MB

In [55]:
# Get list of columns

get_columns = list(sample_2017_2.columns.values)

In [56]:
# List of columns to remove. These are fields with large amounts of missing values or rarely used.

list_to_remove=['NUM_PROC', 'CPF_AUT', 'CID_NOTIF','GESTOR_DT',
                'INFEHOSP','FAEC_TP','AUD_JUST','SIS_JUST',
                'DIAGSEC1','DIAGSEC2','DIAGSEC3', 'DIAGSEC4',
                'DIAGSEC5','DIAGSEC6','DIAGSEC7','DIAGSEC8',
                'DIAGSEC9','TPDISEC1','TPDISEC2','TPDISEC1',
                'TPDISEC4','TPDISEC5','TPDISEC6','TPDISEC7',
                'TPDISEC8','TPDISEC9']

In [57]:
# Filter df list to come up with list of columns to upload.

column_list = list(set(get_columns).difference(set(list_to_remove)))

## Upload AIH Data to Pandas DataFrames

* *Upload 2015 - 2018 AIH data contained in the pre-procesed CSV files*

> **AIH 2015 Data Upload**

In [ ]:
#Path to 2015 data in local machine

aih_2015_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2015.csv')

#Read to pandas df

aih_2015 = pd.read_csv(aih_2015_path, index_col=1, usecols = column_list, engine='python')

In [ ]:
# See AIH 2015 data info

aih_2015.info(verbose=True)

In [ ]:
# See AIH data 2015 head

aih_2015.head()

> **AIH 2016 Data Upload**

In [ ]:
#Path to 2018 data in local machine

aih_2016_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2016.csv')

#Read to pandas df
aih_2016 = pd.read_csv(aih_2016_path, index_col=1, usecols = column_list, engine='python')

In [ ]:
# See AIH 2016 data info

aih_2016.info(verbose = True)

In [ ]:
# See AIH 2016 head

aih_2016.head()

> **AIH 2017 Data Upload**

In [60]:
#Path to 2017 data in local machine

aih_2017_1_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2017_1.csv')
aih_2017_2_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2017_2.csv')
aih_2017_3_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2017_3.csv')
aih_2017_4_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2017_4.csv')

In [62]:
%%time

#Read to pandas df.

# This is 1.5GB file

aih_2017_1 = pd.read_csv(aih_2017_1_path, index_col = 1, usecols = column_list, engine = 'python')
#aih_2017_2 = pd.read_csv(aih_2017_2_path, index_col=1, use_cols = column_list, engine='python')
#aih_2017_3 = pd.read_csv(aih_2017_3_path, index_col=1, use_cols = column_list, engine='python')
#aih_2017_4 = pd.read_csv(aih_2017_4_path, index_col=1, use_cols = column_list, engine='python')

CPU times: user 6min 29s, sys: 10min 37s, total: 17min 7s
Wall time: 18min 47s

In [ ]:
# Concatenate AIH 2017 df

aih_2017 = pd.concat([aih_2017_1,aih_2017_2,aih_2017_3,aih_2017_4])

In [ ]:
# See 2017 data info

aih_2017.info(verbose=True)

In [ ]:
# See AIH 2017 head

aih_2017.head()

> **AIH 2018 Data Upload**

In [ ]:
#Path to 2018 data in local machine

aih_2018_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/df_RD_2018.csv')

#Read to pandas df
aih_2018 = pd.read_csv(aih_2018_path, index_col=1, usecols = column_list, engine='python')

In [ ]:
# See AIH 2018 data info

aih_2018.info(verbose=True)

In [ ]:
# See AIH data 2018 head

aih_2018.head()

## Create Helper Functions for Data Exploration

In [ ]:
def count_unique(list_df = None, df_names = None, column = 'CEP'):
  
  ''' Count unique elements from the same colum 
      (the column must be shared across dfs) across several pandas dataframes. 
      The function takes a list of dfs, the column of interest and the df names 
      and outputs the unique values'''
  
  result_list = [] #initialize result empty list
  
  names = df_names
  
  for df in list_df:
    result = df[column].nunique()
    result_list.append(result)
  
  for name, value in zip(names, result_list):
    print('%s: %.1f' % (name, value))
  
  print('Total Unique:', sum(result_list))

In [ ]:
def num_rows(list_df = None, df_names = None):
  
  ''' Calculates number of rows for each dataframe 
      across several pandas dataframes. 
      The function takes a list of dataframes, and the 
      dataframes names and outputs the unique values 
      for each dataframe and total.'''
  
  result_list = [] #initialize result empty list
  
  names = df_names
  
  for df in list_df:
    result = len(df)
    result_list.append(result)
  
  for name, value in zip(names, result_list):
    print('%s: %.1f' % (name, value))
    
  print('Total Obs:', sum(result_list))

In [ ]:
count_unique(list_df=list_df, df_names=df_names, column='Type of Field')

In [ ]:
list_df = [var_df,var_df,var_df]
df_names = ['df_1','df_2','df_3']

In [ ]:
df_names = ['1','2','3']

In [ ]:
unique_patients(list_df = df, column = 'Type of Field')

## Preliminary Exploration

> ** Observations in each dataframe**

> ** Unique number of patients?**

> ** Unique number of procedures**

> ** Unique number of hospitals**

## Sample of one hospitalization record (AIH 2018)

In [ ]:
pat_hosp_record = aih_2018[['CEP','NASC','IDADE','MUNIC_RES','SEXO',
                            'QT_DIARIAS','PROC_REA','VAL_SH','VAL_SP',
                            'VAL_TOT','US_TOT','DIAG_PRINC','COBRANCA',
                            'DIAS_PERM','MORTE','NACIONAL','CAR_INT',
                            'INSTRU','RACA_COR','ETNIA']]


one_pat_record = pat_record_cols[pat_record_cols['CEP']== #some no.]