## Import Libraries

In [4]:
import pandas as pd
import numpy as np
import random
from random import sample

## Authorization for Hospital Admission Data

The AIH datasets contains data on hospital production and services in Brazil. The data that will be used here is the Authorization for Hospital Admission. This dataset is part of `Brazil’s SIHSUS Hospital Information System`. This system manages the coordination and payment by Brazil’s public healthcare system (covers around 34% of Brazil’s population). In this application, I will be using data from 2015 – 2018. This represents 3.5 years’ of information.

A record in the AIH database is created when a hospital or healthcare unit generates a request for hospitalization. Providers submit demographic and health information about the patient. This request is ultimately approved or rejected. While the patient is in the hospital, the record is updated to also contain information about procedures performed and discharge. 

More information about this data can be found below: 

* [DataSUS Website](http://datasus.saude.gov.br/informacoes-de-saude)
* [AIH Data Fields](https://github.com/IvetteMTapia/Capstone-2_Deep_Learning/blob/master/IT_SIHSUS_1603_DataDict.pdf)

## Data Pre -  Processing Information

* Due to the size of the files, the data was extracted to a local machine. The extraction website can be found at: [DataSUS public file download site](http://www2.datasus.gov.br/DATASUS/index.php?area=0901).

* The format of the files at extraction was .dbc. The .dbc format compresses .dbf files. This format is propetary and used by Brazil's IT department to distribute the large files in their database. The .dbc files are a compressed version of .dbf files. 

* I have already done the pre-procesing step of converting the .dbc files to .csv files using R. The R envioroment has a R package specifically written to read and de-compresss these type of files. You can find the R code used for the  conversion [here](https://github.com/IvetteMTapia/Capstone-2_Deep_Learning/blob/master/Convert%20from%20dbc%20to%20CSV.R).

## Create Dictionary of Variable Definitions for Reference

*This dictionary contains dataset variables type and description information.*

In [5]:
var_spread_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/References/IT_SIHSUS_1603_DataDict.xlsx')

var_df = pd.read_excel(var_spread_path, index_col = 'Field_Name')
var_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113 entries, UF_ZI to TPDISEC9
Data columns (total 2 columns):
Type of Field    113 non-null object
Description      113 non-null object
dtypes: object(2)
memory usage: 2.6+ KB

In [6]:
var_def_dict = var_df.to_dict(orient = 'index')
var_def_dict

{'UF_ZI': {'Type of Field': 'char(6)', 'Description': 'Municipality Manager'},
 'ANO_CMPT': {'Type of Field': 'char(4)',
  'Description': 'Year of AIH processing, in yyyy format.'},
 'MÊS_CMPT': {'Type of Field': 'char(2)',
  'Description': 'Month of AIH processing, in mm format.'},
 'ESPEC': {'Type of Field': 'char(2)', 'Description': 'Specialty of Bed'},
 'CGC_HOSP': {'Type of Field': 'char(14)',
  'Description': 'CNPJ of the Establishment'},
 'N_AIH': {'Type of Field': 'char(13)', 'Description': 'Number of AIH'},
 'IDENT': {'Type of Field': 'char(1)',
  'Description': 'Identification of the type of AIH'},
 'CEP': {'Type of Field': 'char(8)', 'Description': 'CEP of the patient'},
 'MUNIC_RES': {'Type of Field': 'char(6)',
  'Description': "Municipality of Patient's Residence"},
 'NASC': {'Type of Field': 'char(8)',
  'Description': 'Date of birth of the patient (yyyammdd)'},
 'SEXO': {'Type of Field': 'char(1)', 'Description': 'Sex of patient'},
 'UTI_MES_IN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_MES_AN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_MES_AL': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_MES_TO': {'Type of Field': 'numeric(3)',
  'Description': 'Number of ICU days in the month'},
 'MARCA_UTI': {'Type of Field': 'char(2)',
  'Description': 'Indicates the type of ICU used by the patient'},
 'UTI_INT_IN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_INT_AN': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_INT_AL': {'Type of Field': 'numeric(2)', 'Description': 'Reset'},
 'UTI_INT_TO': {'Type of Field': 'numeric(3)',
  'Description': 'Number of nights in intermediate unit'},
 'DIAR_ACOM': {'Type of Field': 'numeric(3)',
  'Description': 'Number of companion nights'},
 'QT_DIARIAS': {'Type of Field': 'numeric(3)',
  'Description': 'Number of nights'},
 'PROC_SOLIC': {'Type of Field': 'char(10)',
  'Description': 'Procedure requested'},
 'PROC_REA': {'Type of Field': 'char(10)',
  'Description': 'Procedure performed'},
 'VAL_SH': {'Type of Field': 'numeric(13,2)',
  'Description': 'Value of hospital services'},
 'VAL_SP': {'Type of Field': 'numeric(13,2)',
  'Description': 'Value of professional services'},
 'VAL_SADT': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_RN': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_ACOMP': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_ORTP': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_SANGUE': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_SADTSR': {'Type of Field': 'numeric(11,2)', 'Description': 'Reset'},
 'VAL_TRANSP': {'Type of Field': 'numeric(13,2)', 'Description': 'Reset'},
 'VAL_OBSANG': {'Type of Field': 'numeric(11,2)', 'Description': 'Reset'},
 'VAL_PED1AC': {'Type of Field': 'numeric(11,2)', 'Description': 'Reset'},
 'VAL_TOT': {'Type of Field': 'numeric(14,2)',
  'Description': 'Total value of the AIH'},
 'VAL_UTI': {'Type of Field': 'numeric(8,2)', 'Description': 'Value of ICU'},
 'US_TOT': {'Type of Field': 'numeric(10,2)',
  'Description': 'Total value, in US dollars'},
 'DI_INTER': {'Type of Field': 'char(8)',
  'Description': 'Date of hospitalization in aaammdd format'},
 'DT_SAIDA': {'Type of Field': 'char(8)',
  'Description': 'Exit date in yyyammdd format'},
 'DIAG_PRINC': {'Type of Field': 'char(4)',
  'Description': 'Code of the main diagnosis (CID10)'},
 'DIAG_SECUN': {'Type of Field': 'char(4)',
  'Description': 'Secondary diagnosis code (ICD10). Filled with zeros from 201501.'},
 'COBRANCA': {'Type of Field': 'char(2)',
  'Description': 'Reason for Exit / Stay'},
 'NATUREZA': {'Type of Field': 'char(2)',
  'Description': 'Legal nature of the hospital (with content until May / 12). It was used the classification of Regime and Nature.'},
 'NAT_JUR': {'Type of Field': 'char(4)',
  'Description': 'Legal nature of the establishment, as the Commission National classification - CONCLA'},
 'DESTAO': {'Type of Field': 'char(1)',
  'Description': 'Type of hospital management'},
 'RUBRICA': {'Type of Field': 'numeric(5)', 'Description': 'Reset'},
 'IND_VDRL': {'Type of Field': 'char(1)',
  'Description': 'Indicates VDRL exam'},
 'MUNIC_MOV': {'Type of Field': 'char(6)',
  'Description': 'Municipality of the Establishment'},
 'COD_IDADE': {'Type of Field': 'char(1)',
  'Description': 'Unit of measure of age'},
 'IDADE': {'Type of Field': 'numeric(2)', 'Description': 'Age'},
 'DIAS_PERM': {'Type of Field': 'numeric(5)', 'Description': 'Days of Stay'},
 'MORTE': {'Type of Field': 'numeric(1)', 'Description': 'Indicates Death'},
 'NACIONAL': {'Type of Field': 'char(2)',
  'Description': 'Code of nationality of the patient'},
 'NUM_PROC': {'Type of Field': 'char(4)', 'Description': 'Reset'},
 'CAR_INT': {'Type of Field': 'char(2)',
  'Description': 'Character of hospitalization'},
 'TOT_PT_SP': {'Type of Field': 'numeric(6)', 'Description': 'Reset'},
 'CPF_AUT': {'Type of Field': 'char(11)', 'Description': 'Reset'},
 'HOMONIMO': {'Type of Field': 'char(1)',
  'Description': 'Indicator if the patient of the AIH is homonymous with the another AIH.'},
 'NUM_FILHOS': {'Type of Field': 'numeric(2)',
  'Description': 'Number of children of the patient'},
 'INSTRU': {'Type of Field': 'char(1)',
  'Description': 'Degree of instruction of the patient'},
 'CID_NOTIF': {'Type of Field': 'char(4)',
  'Description': 'CID of Notification'},
 'CONTRACEP1': {'Type of Field': 'char(2)',
  'Description': 'Type of contraceptive used'},
 'CONTRACEP2': {'Type of Field': 'char(2)',
  'Description': 'Second type of contraceptive used'},
 'GESTRISCO': {'Type of Field': 'char(1)',
  'Description': 'Indicator if pregnant at risk'},
 'INSC_PN': {'Type of Field': 'char(12)',
  'Description': 'Number of the pregnant woman in prenatal care'},
 'SEQ_AIH5': {'Type of Field': 'char(3)',
  'Description': 'Long-stay sequential (AIH type 5)'},
 'CBOR': {'Type of Field': 'char(3)',
  'Description': 'Occupancy of the patient, according to the Brazilian Occupations - CBO.'},
 'CNAER': {'Type of Field': 'char(3)', 'Description': 'Work accident code'},
 'VINCPREV': {'Type of Field': 'char(1)',
  'Description': 'Link with the Pension Fund'},
 'GESTOR_COD': {'Type of Field': 'char(3)',
  'Description': 'Reason for authorization of the AIH by the Manager'},
 'GESTOR_TP': {'Type of Field': 'char(1)', 'Description': 'Type of manager'},
 'GESTOR_CPF': {'Type of Field': 'char(11)',
  'Description': "Manager's CPF number"},
 'GESTOR_DT': {'Type of Field': 'char(8)',
  'Description': 'Date of authorization given by the Manager (yyyammdd)'},
 'CNES': {'Type of Field': 'char(7)',
  'Description': 'CNES code of the hospital'},
 'CNPJ_MANT': {'Type of Field': 'char(14)',
  'Description': 'CNPJ of the maintainer'},
 'INFEHOSP': {'Type of Field': 'char(1)',
  'Description': 'Hospital infection status'},
 'CID_ASSO': {'Type of Field': 'char(4)', 'Description': 'CID causes'},
 'CID_MORTE': {'Type of Field': 'char(4)', 'Description': 'CID of death'},
 'COMPLEX': {'Type of Field': 'char(2)', 'Description': 'Complexity'},
 'FINANC': {'Type of Field': 'char(2)', 'Description': 'Type of financing'},
 'FAEC_TP': {'Type of Field': 'char(6)',
  'Description': 'Financing subtype FAEC'},
 'REGCT': {'Type of Field': 'char(4)', 'Description': 'Contract rule'},
 'RACA_COR': {'Type of Field': 'char(4)',
  'Description': 'Race / Color of the patient'},
 'ETNIA': {'Type of Field': 'char(4)',
  'Description': 'Ethnicity of patient, if race color is indigenous'},
 'SEQUENCIA': {'Type of Field': 'numeric(9)',
  'Description': 'Sequential of the AIH in the consignment'},
 'REMESSA': {'Type of Field': 'char(21)', 'Description': 'Shipping number'},
 'AUD_JUST': {'Type of Field': 'char (50)',
  'Description': "Auditor's justification for acceptance of the IAI without the National Health Card."},
 'SIS_JUST': {'Type of Field': 'char (50)',
  'Description': 'Rationale of the establishment for acceptance of the AIH without number of the National Health Card'},
 'VAL_SH_FED': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the federal complement of hospital services. It is included in the total value of the AIH.'},
 'VAL_SP_FED': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the federal complement of professional services. It is included in the total value of the AIH.'},
 'VAL_SH_GES': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the complement of the manager (state or municipal) of hospital services. It is included in the total value of the AIH.'},
 'VAL_SP_GES': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of the complement of the manager (state or municipal) of profesional services.It is included in the total value of the AIH.'},
 'VAL_UCI': {'Type of Field': 'numeric (10, 2)',
  'Description': 'Value of ICU.'},
 'MARCA_UCI': {'Type of Field': 'char (2)',
  'Description': 'Type of ICU used by the patient.'},
 'DIAGSEC1': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis1'},
 'DIAGSEC2': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis2'},
 'DIAGSEC3': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis3'},
 'DIAGSEC4': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis4'},
 'DIAGSEC5': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis5'},
 'DIAGSEC6': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis6'},
 'DIAGSEC7': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis7'},
 'DIAGSEC8': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis8'},
 'DIAGSEC9': {'Type of Field': 'char (4)',
  'Description': 'Secondary diagnosis9'},
 'TPDISEC1': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 1'},
 'TPDISEC2': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 2'},
 'TPDISEC3': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 3'},
 'TPDISEC4': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 4'},
 'TPDISEC5': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 5'},
 'TPDISEC6': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 6'},
 'TPDISEC7': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 7'},
 'TPDISEC8': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 8'},
 'TPDISEC9': {'Type of Field': 'char(1)',
  'Description': 'Type of secondary diagnosis 9'}}

## Sample file

*Loading the larger files takes longer. This is to get a sense of the files, before uploading the large ones.*

In [2]:
sample_2018_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/2- Converted Files (dbc to csv)/AIH_sample_2018.csv')

*Open small sample file from 2017. Bring all available columns.*

In [3]:
%%time

sample_2018 = pd.read_csv(sample_2018_path, 
                          encoding = 'UTF-8', 
                          na_values= ['NA',' ',''], 
                          low_memory=True)

CPU times: user 82 ms, sys: 21.1 ms, total: 103 ms
Wall time: 171 ms

In [6]:
sample_2018.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4608 entries, 0 to 4607
Data columns (total 113 columns):
UF_ZI         4608 non-null int64
ANO_CMPT      4608 non-null int64
MES_CMPT      4608 non-null int64
ESPEC         4608 non-null int64
CGC_HOSP      4574 non-null float64
N_AIH         4608 non-null int64
IDENT         4608 non-null int64
CEP           4608 non-null int64
MUNIC_RES     4608 non-null int64
NASC          4608 non-null int64
SEXO          4608 non-null int64
UTI_MES_IN    4608 non-null int64
UTI_MES_AN    4608 non-null int64
UTI_MES_AL    4608 non-null int64
UTI_MES_TO    4608 non-null int64
MARCA_UTI     4608 non-null int64
UTI_INT_IN    4608 non-null int64
UTI_INT_AN    4608 non-null int64
UTI_INT_AL    4608 non-null int64
UTI_INT_TO    4608 non-null int64
DIAR_ACOM     4608 non-null int64
QT_DIARIAS    4608 non-null int64
PROC_SOLIC    4608 non-null int64
PROC_REA      4608 non-null int64
VAL_SH        4608 non-null float64
VAL_SP        4608 non-null float64
VAL_SADT      4608 non-null int64
VAL_RN        4608 non-null int64
VAL_ACOMP     4608 non-null int64
VAL_ORTP      4608 non-null int64
VAL_SANGUE    4608 non-null int64
VAL_SADTSR    4608 non-null int64
VAL_TRANSP    4608 non-null int64
VAL_OBSANG    4608 non-null int64
VAL_PED1AC    4608 non-null int64
VAL_TOT       4608 non-null float64
VAL_UTI       4608 non-null float64
US_TOT        4608 non-null float64
DT_INTER      4608 non-null int64
DT_SAIDA      4608 non-null int64
DIAG_PRINC    4608 non-null object
DIAG_SECUN    4608 non-null int64
COBRANCA      4608 non-null int64
NATUREZA      4608 non-null int64
NAT_JUR       4608 non-null int64
GESTAO        4608 non-null int64
RUBRICA       4608 non-null int64
IND_VDRL      4608 non-null int64
MUNIC_MOV     4608 non-null int64
COD_IDADE     4608 non-null int64
IDADE         4608 non-null int64
DIAS_PERM     4608 non-null int64
MORTE         4608 non-null int64
NACIONAL      4608 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       4608 non-null int64
TOT_PT_SP     4608 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      4608 non-null int64
NUM_FILHOS    4608 non-null int64
INSTRU        4608 non-null int64
CID_NOTIF     12 non-null object
CONTRACEP1    4608 non-null int64
CONTRACEP2    4608 non-null int64
GESTRISCO     4608 non-null int64
INSC_PN       4608 non-null int64
SEQ_AIH5      4608 non-null int64
CBOR          4608 non-null int64
CNAER         4608 non-null int64
VINCPREV      4608 non-null int64
GESTOR_COD    4608 non-null int64
GESTOR_TP     4608 non-null int64
GESTOR_CPF    4608 non-null int64
GESTOR_DT     0 non-null float64
CNES          4608 non-null int64
CNPJ_MANT     4048 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      4608 non-null int64
CID_MORTE     4608 non-null int64
COMPLEX       4608 non-null int64
FINANC        4608 non-null int64
FAEC_TP       32 non-null float64
REGCT         4608 non-null int64
RACA_COR      4608 non-null int64
ETNIA         4608 non-null int64
SEQUENCIA     4608 non-null int64
REMESSA       4608 non-null object
AUD_JUST      0 non-null float64
SIS_JUST      0 non-null float64
VAL_SH_FED    4608 non-null int64
VAL_SP_FED    4608 non-null int64
VAL_SH_GES    4608 non-null int64
VAL_SP_GES    4608 non-null int64
VAL_UCI       4608 non-null int64
MARCA_UCI     4608 non-null int64
DIAGSEC1      464 non-null object
DIAGSEC2      2 non-null object
DIAGSEC3      0 non-null float64
DIAGSEC4      0 non-null float64
DIAGSEC5      0 non-null float64
DIAGSEC6      0 non-null float64
DIAGSEC7      0 non-null float64
DIAGSEC8      0 non-null float64
DIAGSEC9      0 non-null float64
TPDISEC1      4608 non-null int64
TPDISEC2      4608 non-null int64
TPDISEC3      4608 non-null int64
TPDISEC4      4608 non-null int64
TPDISEC5      4608 non-null int64
TPDISEC6      4608 non-null int64
TPDISEC7      4608 non-null int64
TPDISEC8      4608 non-null int64
TPDISEC9      4608 non-null int64
dtypes: float64(21), int64(87), object(5)
memory usage: 4.0+ MB

In [7]:
sample_2018.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2018,1,3,4.034526e+12,1218100020863,1,69982000,120039,20070713,...,NaN,1,0,0,0,0,0,0,0,0
1,120000,2018,1,3,4.034526e+12,1218100020885,1,69970000,120060,20160606,...,NaN,0,0,0,0,0,0,0,0,0
2,120000,2018,1,3,4.034526e+12,1218100020896,1,69982000,120039,19890214,...,NaN,0,0,0,0,0,0,0,0,0
3,120000,2018,1,3,4.034526e+12,1218100020907,1,69980000,120020,19721206,...,NaN,0,0,0,0,0,0,0,0,0
4,120000,2018,1,3,4.034526e+12,1218100022788,1,69980000,120020,19720809,...,NaN,0,0,0,0,0,0,0,0,0

## Upload AIH Data to Pandas DataFrames

*Upload 2015 - 2018 AIH data contained in the pre-procesed CSV files*

> **AIH 2015 Data Upload**

In [7]:
%%time 

#Path to 2015 data in the local machine

aih_2015_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/2- Converted Files (dbc to csv)/AIH_RD_2015.csv')

#Read to pandas df

aih_2015 = pd.read_csv(aih_2015_path, 
                       encoding = 'UTF-8', 
                       na_values= ['NA',' ',''], 
                       low_memory=True)

<string>:2: DtypeWarning: Columns (61,87,88,94,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 4min 24s, sys: 1min 2s, total: 5min 26s
Wall time: 5min 50s

In [6]:
# See AIH 2015 data info

aih_2015.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11638853 entries, 0 to 11638852
Data columns (total 113 columns):
UF_ZI         11638853 non-null int64
ANO_CMPT      11638853 non-null int64
MES_CMPT      11638853 non-null int64
ESPEC         11638853 non-null int64
CGC_HOSP      8609798 non-null float64
N_AIH         11638853 non-null int64
IDENT         11638853 non-null int64
CEP           11638853 non-null int64
MUNIC_RES     11638853 non-null int64
NASC          11638853 non-null int64
SEXO          11638853 non-null int64
UTI_MES_IN    11638853 non-null int64
UTI_MES_AN    11638853 non-null int64
UTI_MES_AL    11638853 non-null int64
UTI_MES_TO    11638853 non-null int64
MARCA_UTI     11638853 non-null int64
UTI_INT_IN    11638853 non-null int64
UTI_INT_AN    11638853 non-null int64
UTI_INT_AL    11638853 non-null int64
UTI_INT_TO    11638853 non-null int64
DIAR_ACOM     11638853 non-null int64
QT_DIARIAS    11638853 non-null int64
PROC_SOLIC    11638853 non-null int64
PROC_REA      11638853 non-null int64
VAL_SH        11638853 non-null float64
VAL_SP        11638853 non-null float64
VAL_SADT      11638853 non-null int64
VAL_RN        11638853 non-null int64
VAL_ACOMP     11638853 non-null int64
VAL_ORTP      11638853 non-null int64
VAL_SANGUE    11638853 non-null int64
VAL_SADTSR    11638853 non-null int64
VAL_TRANSP    11638853 non-null int64
VAL_OBSANG    11638853 non-null int64
VAL_PED1AC    11638853 non-null int64
VAL_TOT       11638853 non-null float64
VAL_UTI       11638853 non-null float64
US_TOT        11638853 non-null float64
DT_INTER      11638853 non-null int64
DT_SAIDA      11638853 non-null int64
DIAG_PRINC    11638853 non-null object
DIAG_SECUN    11638853 non-null int64
COBRANCA      11638853 non-null int64
NATUREZA      11638853 non-null int64
NAT_JUR       11638853 non-null int64
GESTAO        11638853 non-null int64
RUBRICA       11638853 non-null int64
IND_VDRL      11638853 non-null int64
MUNIC_MOV     11638853 non-null int64
COD_IDADE     11638853 non-null int64
IDADE         11638853 non-null int64
DIAS_PERM     11638853 non-null int64
MORTE         11638853 non-null int64
NACIONAL      11638853 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       11638853 non-null int64
TOT_PT_SP     11638853 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      11638853 non-null int64
NUM_FILHOS    11638853 non-null int64
INSTRU        11638853 non-null int64
CID_NOTIF     87779 non-null object
CONTRACEP1    11638853 non-null int64
CONTRACEP2    11638853 non-null int64
GESTRISCO     11638853 non-null int64
INSC_PN       11638853 non-null int64
SEQ_AIH5      11638853 non-null int64
CBOR          11638853 non-null int64
CNAER         11638853 non-null int64
VINCPREV      11638853 non-null int64
GESTOR_COD    11638853 non-null int64
GESTOR_TP     11638853 non-null int64
GESTOR_CPF    11638853 non-null int64
GESTOR_DT     0 non-null float64
CNES          11638853 non-null int64
CNPJ_MANT     6689723 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      11638853 non-null int64
CID_MORTE     11638853 non-null int64
COMPLEX       11638853 non-null int64
FINANC        11638853 non-null int64
FAEC_TP       453658 non-null float64
REGCT         11638853 non-null int64
RACA_COR      11638853 non-null int64
ETNIA         11638853 non-null int64
SEQUENCIA     11638853 non-null int64
REMESSA       11638853 non-null object
AUD_JUST      180388 non-null object
SIS_JUST      180404 non-null object
VAL_SH_FED    11638852 non-null float64
VAL_SP_FED    11638852 non-null float64
VAL_SH_GES    11638852 non-null float64
VAL_SP_GES    11638852 non-null float64
VAL_UCI       11638852 non-null float64
MARCA_UCI     11616546 non-null object
DIAGSEC1      2019583 non-null object
DIAGSEC2      149783 non-null object
DIAGSEC3      46427 non-null object
DIAGSEC4      15569 non-null object
DIAGSEC5      5656 non-null object
DIAGSEC6      1884 non-null object
DIAGSEC7      400 non-null object
DIAGSEC8      1 non-null float64
DIAGSEC9      28496 non-null float64
TPDISEC1      11638853 non-null int64
TPDISEC2      11638853 non-null int64
TPDISEC3      11638853 non-null int64
TPDISEC4      11638852 non-null float64
TPDISEC5      11638852 non-null float64
TPDISEC6      11638852 non-null float64
TPDISEC7      11638852 non-null float64
TPDISEC8      11638852 non-null float64
TPDISEC9      11610357 non-null float64
dtypes: float64(25), int64(75), object(13)
memory usage: 9.8+ GB

In [10]:
# See AIH data 2015 head

aih_2015.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2015,1,2,4.034526e+12,1215100060867,1,69985000,120042,19950825,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,120000,2015,1,3,4.034526e+12,1215100060383,1,69980000,120020,19941127,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,120000,2015,1,3,4.034526e+12,1215100060559,1,69980000,120020,19890308,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,120000,2015,1,3,4.034526e+12,1215100060658,1,69980000,120020,19980725,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,120000,2015,1,3,4.034526e+12,1215100060911,1,69980000,120020,19990205,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

> **AIH 2016 Data Upload**

In [8]:
%%time 

#Path to 2016 data in the local machine

aih_2016_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/2- Converted Files (dbc to csv)/AIH_RD_2016.csv')

#Read to pandas df

aih_2016 = pd.read_csv(aih_2016_path, 
                       encoding = 'UTF-8', 
                       na_values= ['NA',' ',''], 
                       low_memory=True)

<string>:2: DtypeWarning: Columns (61,87,88,94,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 4min 29s, sys: 1min 2s, total: 5min 32s
Wall time: 6min 5s

In [12]:
# See AIH 2016 data info

aih_2016.info(verbose = True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11527712 entries, 0 to 11527711
Data columns (total 113 columns):
UF_ZI         11527712 non-null int64
ANO_CMPT      11527712 non-null int64
MES_CMPT      11527712 non-null int64
ESPEC         11527712 non-null int64
CGC_HOSP      8783440 non-null float64
N_AIH         11527712 non-null int64
IDENT         11527712 non-null int64
CEP           11527712 non-null int64
MUNIC_RES     11527712 non-null int64
NASC          11527712 non-null int64
SEXO          11527712 non-null int64
UTI_MES_IN    11527712 non-null int64
UTI_MES_AN    11527712 non-null int64
UTI_MES_AL    11527712 non-null int64
UTI_MES_TO    11527712 non-null int64
MARCA_UTI     11527712 non-null int64
UTI_INT_IN    11527712 non-null int64
UTI_INT_AN    11527712 non-null int64
UTI_INT_AL    11527712 non-null int64
UTI_INT_TO    11527712 non-null int64
DIAR_ACOM     11527712 non-null int64
QT_DIARIAS    11527712 non-null int64
PROC_SOLIC    11527712 non-null int64
PROC_REA      11527712 non-null int64
VAL_SH        11527712 non-null float64
VAL_SP        11527712 non-null float64
VAL_SADT      11527712 non-null int64
VAL_RN        11527712 non-null int64
VAL_ACOMP     11527712 non-null int64
VAL_ORTP      11527712 non-null int64
VAL_SANGUE    11527712 non-null int64
VAL_SADTSR    11527712 non-null int64
VAL_TRANSP    11527712 non-null int64
VAL_OBSANG    11527712 non-null int64
VAL_PED1AC    11527712 non-null int64
VAL_TOT       11527712 non-null float64
VAL_UTI       11527712 non-null float64
US_TOT        11527712 non-null float64
DT_INTER      11527712 non-null int64
DT_SAIDA      11527712 non-null int64
DIAG_PRINC    11527712 non-null object
DIAG_SECUN    11527712 non-null int64
COBRANCA      11527712 non-null int64
NATUREZA      11527712 non-null int64
NAT_JUR       11527712 non-null int64
GESTAO        11527712 non-null int64
RUBRICA       11527712 non-null int64
IND_VDRL      11527712 non-null int64
MUNIC_MOV     11527712 non-null int64
COD_IDADE     11527712 non-null int64
IDADE         11527712 non-null int64
DIAS_PERM     11527712 non-null int64
MORTE         11527712 non-null int64
NACIONAL      11527712 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       11527712 non-null int64
TOT_PT_SP     11527712 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      11527712 non-null int64
NUM_FILHOS    11527712 non-null int64
INSTRU        11527712 non-null int64
CID_NOTIF     90327 non-null object
CONTRACEP1    11527712 non-null int64
CONTRACEP2    11527712 non-null int64
GESTRISCO     11527712 non-null int64
INSC_PN       11527712 non-null int64
SEQ_AIH5      11527712 non-null int64
CBOR          11527712 non-null int64
CNAER         11527712 non-null int64
VINCPREV      11527712 non-null int64
GESTOR_COD    11527712 non-null int64
GESTOR_TP     11527712 non-null int64
GESTOR_CPF    11527712 non-null int64
GESTOR_DT     0 non-null float64
CNES          11527712 non-null int64
CNPJ_MANT     6083844 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      11527712 non-null int64
CID_MORTE     11527712 non-null int64
COMPLEX       11527712 non-null int64
FINANC        11527712 non-null int64
FAEC_TP       144583 non-null float64
REGCT         11527712 non-null int64
RACA_COR      11527712 non-null int64
ETNIA         11527712 non-null int64
SEQUENCIA     11527712 non-null int64
REMESSA       11527712 non-null object
AUD_JUST      155065 non-null object
SIS_JUST      155065 non-null object
VAL_SH_FED    11527711 non-null float64
VAL_SP_FED    11527711 non-null float64
VAL_SH_GES    11527711 non-null float64
VAL_SP_GES    11527711 non-null float64
VAL_UCI       11527711 non-null float64
MARCA_UCI     11508541 non-null object
DIAGSEC1      2158072 non-null object
DIAGSEC2      199353 non-null object
DIAGSEC3      69793 non-null object
DIAGSEC4      25693 non-null object
DIAGSEC5      9558 non-null object
DIAGSEC6      3467 non-null object
DIAGSEC7      1045 non-null object
DIAGSEC8      1 non-null float64
DIAGSEC9      23836 non-null float64
TPDISEC1      11527712 non-null int64
TPDISEC2      11527712 non-null int64
TPDISEC3      11527712 non-null int64
TPDISEC4      11527711 non-null float64
TPDISEC5      11527711 non-null float64
TPDISEC6      11527711 non-null float64
TPDISEC7      11527711 non-null float64
TPDISEC8      11527711 non-null float64
TPDISEC9      11503876 non-null float64
dtypes: float64(25), int64(75), object(13)
memory usage: 9.7+ GB

In [13]:
# See AIH 2016 head

aih_2016.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2016,1,3,6.360294e+13,1216100041772,1,69930000,120070,19961208,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,120000,2016,1,3,6.360294e+13,1216100043752,1,69900970,120040,20020705,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,120000,2016,1,3,6.360294e+13,1216100046282,1,69900970,120040,19600211,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,120000,2016,1,3,6.360294e+13,1216100046315,1,69923000,120040,19990304,...,NaN,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,120000,2016,1,3,6.360294e+13,1216100046337,1,69900970,120040,19821121,...,NaN,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0

> **AIH 2017 Data Upload**

In [9]:
%%time 

#Path to 2017 data in the local machine

aih_2017_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/2- Converted Files (dbc to csv)/AIH_RD_2017.csv')


#Read to pandas df

aih_2017 = pd.read_csv(aih_2017_path, 
                       encoding = 'UTF-8', 
                       na_values= ['NA',' ',''], 
                       low_memory=True)

<string>:2: DtypeWarning: Columns (61,87,88,94,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 4min 15s, sys: 1min 1s, total: 5min 17s
Wall time: 5min 37s

In [15]:
# See 2017 data info

aih_2017.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11560960 entries, 0 to 11560959
Data columns (total 113 columns):
UF_ZI         11560960 non-null int64
ANO_CMPT      11560960 non-null int64
MES_CMPT      11560960 non-null int64
ESPEC         11560960 non-null int64
CGC_HOSP      8924721 non-null float64
N_AIH         11560960 non-null int64
IDENT         11560960 non-null int64
CEP           11560960 non-null int64
MUNIC_RES     11560960 non-null int64
NASC          11560960 non-null int64
SEXO          11560960 non-null int64
UTI_MES_IN    11560960 non-null int64
UTI_MES_AN    11560960 non-null int64
UTI_MES_AL    11560960 non-null int64
UTI_MES_TO    11560960 non-null int64
MARCA_UTI     11560960 non-null int64
UTI_INT_IN    11560960 non-null int64
UTI_INT_AN    11560960 non-null int64
UTI_INT_AL    11560960 non-null int64
UTI_INT_TO    11560960 non-null int64
DIAR_ACOM     11560960 non-null int64
QT_DIARIAS    11560960 non-null int64
PROC_SOLIC    11560960 non-null int64
PROC_REA      11560960 non-null int64
VAL_SH        11560960 non-null float64
VAL_SP        11560960 non-null float64
VAL_SADT      11560960 non-null int64
VAL_RN        11560960 non-null int64
VAL_ACOMP     11560960 non-null int64
VAL_ORTP      11560960 non-null int64
VAL_SANGUE    11560960 non-null int64
VAL_SADTSR    11560960 non-null int64
VAL_TRANSP    11560960 non-null int64
VAL_OBSANG    11560960 non-null int64
VAL_PED1AC    11560960 non-null int64
VAL_TOT       11560960 non-null float64
VAL_UTI       11560960 non-null float64
US_TOT        11560960 non-null float64
DT_INTER      11560960 non-null int64
DT_SAIDA      11560960 non-null int64
DIAG_PRINC    11560960 non-null object
DIAG_SECUN    11560960 non-null int64
COBRANCA      11560960 non-null int64
NATUREZA      11560960 non-null int64
NAT_JUR       11560960 non-null int64
GESTAO        11560960 non-null int64
RUBRICA       11560960 non-null int64
IND_VDRL      11560960 non-null int64
MUNIC_MOV     11560960 non-null int64
COD_IDADE     11560960 non-null int64
IDADE         11560960 non-null int64
DIAS_PERM     11560960 non-null int64
MORTE         11560960 non-null int64
NACIONAL      11560960 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       11560960 non-null int64
TOT_PT_SP     11560960 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      11560960 non-null int64
NUM_FILHOS    11560960 non-null int64
INSTRU        11560960 non-null int64
CID_NOTIF     97239 non-null object
CONTRACEP1    11560960 non-null int64
CONTRACEP2    11560960 non-null int64
GESTRISCO     11560960 non-null int64
INSC_PN       11560960 non-null int64
SEQ_AIH5      11560960 non-null int64
CBOR          11560960 non-null int64
CNAER         11560960 non-null int64
VINCPREV      11560960 non-null int64
GESTOR_COD    11560960 non-null int64
GESTOR_TP     11560960 non-null int64
GESTOR_CPF    11560960 non-null int64
GESTOR_DT     0 non-null float64
CNES          11560960 non-null int64
CNPJ_MANT     5900109 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      11560960 non-null int64
CID_MORTE     11560960 non-null int64
COMPLEX       11560960 non-null int64
FINANC        11560960 non-null int64
FAEC_TP       226610 non-null float64
REGCT         11560960 non-null int64
RACA_COR      11560960 non-null int64
ETNIA         11560960 non-null int64
SEQUENCIA     11560960 non-null int64
REMESSA       11560960 non-null object
AUD_JUST      130317 non-null object
SIS_JUST      130315 non-null object
VAL_SH_FED    11560957 non-null float64
VAL_SP_FED    11560957 non-null float64
VAL_SH_GES    11560957 non-null float64
VAL_SP_GES    11560957 non-null float64
VAL_UCI       11560957 non-null float64
MARCA_UCI     11546559 non-null object
DIAGSEC1      2218130 non-null object
DIAGSEC2      220404 non-null object
DIAGSEC3      78435 non-null object
DIAGSEC4      29793 non-null object
DIAGSEC5      11268 non-null object
DIAGSEC6      4577 non-null object
DIAGSEC7      1871 non-null object
DIAGSEC8      3 non-null float64
DIAGSEC9      16304 non-null float64
TPDISEC1      11560960 non-null int64
TPDISEC2      11560960 non-null int64
TPDISEC3      11560960 non-null int64
TPDISEC4      11560957 non-null float64
TPDISEC5      11560957 non-null float64
TPDISEC6      11560957 non-null float64
TPDISEC7      11560957 non-null float64
TPDISEC8      11560957 non-null float64
TPDISEC9      11544656 non-null float64
dtypes: float64(25), int64(75), object(13)
memory usage: 9.7+ GB

In [16]:
# See AIH 2017 head

aih_2017.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2017,1,3,6.360294e+13,1217100020312,1,69932000,120010,19191228,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,120000,2017,1,3,6.360294e+13,1217100020367,1,69940000,120050,19321008,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,120000,2017,1,3,6.360294e+13,1217100020829,1,69900970,120040,19850828,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,120000,2017,1,1,5.294430e+11,1217100002745,1,69900970,120040,20030712,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,120000,2017,1,1,5.294430e+11,1217100009202,1,76801000,110020,20020121,...,NaN,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

> **AIH 2018 Data Upload**

In [10]:
%%time

#Path to 2018 data in the local machine

aih_2018_path = ('/Users/ivettetapia 1/Symbolic Link Seagate Drive/Springboard/Capstone 2_Deep_Learning/Data/2- Converted Files (dbc to csv)/AIH_RD_2018.csv')

#Read to pandas df

aih_2018 = pd.read_csv(aih_2018_path, 
                       encoding = 'UTF-8', 
                       na_values= ['NA',' ',''], 
                       low_memory=True)

<string>:2: DtypeWarning: Columns (61,87,88,94,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 2min 17s, sys: 34.3 s, total: 2min 51s
Wall time: 3min

In [17]:
# See AIH 2018 data info

aih_2018.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6809556 entries, 0 to 6809555
Data columns (total 113 columns):
UF_ZI         6809556 non-null int64
ANO_CMPT      6809556 non-null int64
MES_CMPT      6809556 non-null int64
ESPEC         6809556 non-null int64
CGC_HOSP      5261211 non-null float64
N_AIH         6809556 non-null int64
IDENT         6809556 non-null int64
CEP           6809556 non-null int64
MUNIC_RES     6809556 non-null int64
NASC          6809556 non-null int64
SEXO          6809556 non-null int64
UTI_MES_IN    6809556 non-null int64
UTI_MES_AN    6809556 non-null int64
UTI_MES_AL    6809556 non-null int64
UTI_MES_TO    6809556 non-null int64
MARCA_UTI     6809556 non-null int64
UTI_INT_IN    6809556 non-null int64
UTI_INT_AN    6809556 non-null int64
UTI_INT_AL    6809556 non-null int64
UTI_INT_TO    6809556 non-null int64
DIAR_ACOM     6809556 non-null int64
QT_DIARIAS    6809556 non-null int64
PROC_SOLIC    6809556 non-null int64
PROC_REA      6809556 non-null int64
VAL_SH        6809556 non-null float64
VAL_SP        6809556 non-null float64
VAL_SADT      6809556 non-null int64
VAL_RN        6809556 non-null int64
VAL_ACOMP     6809556 non-null int64
VAL_ORTP      6809556 non-null int64
VAL_SANGUE    6809556 non-null int64
VAL_SADTSR    6809556 non-null int64
VAL_TRANSP    6809556 non-null int64
VAL_OBSANG    6809556 non-null int64
VAL_PED1AC    6809556 non-null int64
VAL_TOT       6809556 non-null float64
VAL_UTI       6809556 non-null float64
US_TOT        6809556 non-null float64
DT_INTER      6809556 non-null int64
DT_SAIDA      6809556 non-null int64
DIAG_PRINC    6809556 non-null object
DIAG_SECUN    6809556 non-null int64
COBRANCA      6809556 non-null int64
NATUREZA      6809556 non-null int64
NAT_JUR       6809556 non-null int64
GESTAO        6809556 non-null int64
RUBRICA       6809556 non-null int64
IND_VDRL      6809556 non-null int64
MUNIC_MOV     6809556 non-null int64
COD_IDADE     6809556 non-null int64
IDADE         6809556 non-null int64
DIAS_PERM     6809556 non-null int64
MORTE         6809556 non-null int64
NACIONAL      6809556 non-null int64
NUM_PROC      0 non-null float64
CAR_INT       6809556 non-null int64
TOT_PT_SP     6809556 non-null int64
CPF_AUT       0 non-null float64
HOMONIMO      6809556 non-null int64
NUM_FILHOS    6809556 non-null int64
INSTRU        6809556 non-null int64
CID_NOTIF     63884 non-null object
CONTRACEP1    6809556 non-null int64
CONTRACEP2    6809556 non-null int64
GESTRISCO     6809556 non-null int64
INSC_PN       6809556 non-null int64
SEQ_AIH5      6809556 non-null int64
CBOR          6809556 non-null int64
CNAER         6809556 non-null int64
VINCPREV      6809556 non-null int64
GESTOR_COD    6809556 non-null int64
GESTOR_TP     6809556 non-null int64
GESTOR_CPF    6809556 non-null int64
GESTOR_DT     0 non-null float64
CNES          6809556 non-null int64
CNPJ_MANT     3476628 non-null float64
INFEHOSP      0 non-null float64
CID_ASSO      6809556 non-null int64
CID_MORTE     6809556 non-null int64
COMPLEX       6809556 non-null int64
FINANC        6809556 non-null int64
FAEC_TP       201399 non-null float64
REGCT         6809556 non-null int64
RACA_COR      6809556 non-null int64
ETNIA         6809556 non-null int64
SEQUENCIA     6809556 non-null int64
REMESSA       6809556 non-null object
AUD_JUST      64422 non-null object
SIS_JUST      64420 non-null object
VAL_SH_FED    6809556 non-null float64
VAL_SP_FED    6809556 non-null float64
VAL_SH_GES    6809556 non-null float64
VAL_SP_GES    6809556 non-null float64
VAL_UCI       6809556 non-null float64
MARCA_UCI     6799788 non-null object
DIAGSEC1      1320948 non-null object
DIAGSEC2      132229 non-null object
DIAGSEC3      46662 non-null object
DIAGSEC4      17789 non-null object
DIAGSEC5      6916 non-null object
DIAGSEC6      2817 non-null object
DIAGSEC7      1187 non-null object
DIAGSEC8      0 non-null float64
DIAGSEC9      10884 non-null float64
TPDISEC1      6809556 non-null int64
TPDISEC2      6809556 non-null int64
TPDISEC3      6809556 non-null int64
TPDISEC4      6809556 non-null int64
TPDISEC5      6809556 non-null int64
TPDISEC6      6809556 non-null int64
TPDISEC7      6809556 non-null int64
TPDISEC8      6809556 non-null int64
TPDISEC9      6798672 non-null float64
dtypes: float64(20), int64(80), object(13)
memory usage: 5.7+ GB

In [18]:
# See AIH data 2018 head

aih_2018.head()

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,120000,2018,1,3,4.034526e+12,1218100020863,1,69982000,120039,20070713,...,NaN,1,0,0,0,0,0,0,0,0.0
1,120000,2018,1,3,4.034526e+12,1218100020885,1,69970000,120060,20160606,...,NaN,0,0,0,0,0,0,0,0,0.0
2,120000,2018,1,3,4.034526e+12,1218100020896,1,69982000,120039,19890214,...,NaN,0,0,0,0,0,0,0,0,0.0
3,120000,2018,1,3,4.034526e+12,1218100020907,1,69980000,120020,19721206,...,NaN,0,0,0,0,0,0,0,0,0.0
4,120000,2018,1,3,4.034526e+12,1218100022788,1,69980000,120020,19720809,...,NaN,0,0,0,0,0,0,0,0,0.0

## Create Random Sample for Each Year

*Calculate the proportion of observations that each year's dataset contribute to the total. The idea here is to make each year's random sample proportional. For example the year 2018 has almost 50% less observations that the rest of the years, I do not want to "extract" the same number of rows as other years with far more observtaions. If I do not take the number of observations in each into account I can over represent or underepresent certain year's observations.*

In [11]:
# Calculate total AIH observations (2015-2018)

total_obs = len(aih_2015) + len(aih_2016) + len(aih_2017) + len(aih_2018)

print('Total Observations (2015-2018): ',total_obs)

Total Observations (2015-2018):  41537081

*A total of 41,648,222 observations.*

In [12]:
# Calculate the proportion each year is of total observations

prop_obs_2015 = len(aih_2015)/total_obs
prop_obs_2016 = len(aih_2016)/total_obs
prop_obs_2017 = len(aih_2017)/total_obs
prop_obs_2018 = len(aih_2018)/total_obs

In [13]:
# Memory usage of each df

mem_2015 = aih_2015.memory_usage().sum()

mem_2016 = aih_2016.memory_usage().sum()

mem_2017 = aih_2017.memory_usage().sum()

mem_2018 = aih_2018.memory_usage().sum()

print('Memory Usage AIH 2015 dataset (bytes): ', mem_2015, 
      '\nMemory Usage AIH 2016 dataset (bytes): ', mem_2016,
      '\nMemory Usage AIH 2017 dataset (bytes): ', mem_2017,
      '\nMemory Usage AIH 2018 dataset (bytes): ', mem_2018)

# Calculate total GB. The target to sample for this project is 5GB of data.

total_mem = mem_2015 + mem_2016 + mem_2017 + mem_2018

print('Total Memory Usage (bytes): ', total_mem)

Memory Usage AIH 2015 dataset (bytes):  10521523192
Memory Usage AIH 2016 dataset (bytes):  10421051728
Memory Usage AIH 2017 dataset (bytes):  10451107920
Memory Usage AIH 2018 dataset (bytes):  6155838704
Total Memory Usage (bytes):  37549521544

*Total memory of the dataset is ~ 35GB*

In [15]:
# Target rows of the sampled dataset (rows needed to get to a data sample of around 5GB)

target_num_rows = np.round(total_obs * 0.40) # Sample 30% of the available data.

print('Target Number of Total Rows: ',target_num_rows )

Target Number of Total Rows:  16614832.0

In [16]:
# Determine number of rows to be sampled from each dataset. 
# The sampling will be proportional to the number of rows each dataset contributes to the total.

aih_2015_sample_size = int(target_num_rows * prop_obs_2015)

aih_2016_sample_size = int(target_num_rows * prop_obs_2016)

aih_2017_sample_size = int(target_num_rows * prop_obs_2017)

aih_2018_sample_size = int(target_num_rows * prop_obs_2018)

# Calcute total number of rows

total_rows = aih_2015_sample_size + aih_2016_sample_size + aih_2017_sample_size + aih_2018_sample_size

print('Sample AIH 2015 Rows: ', aih_2015_sample_size, 
      '\nSample AIH 2016 Rows: ', aih_2016_sample_size, 
      '\nSample AIH 2017 Rows: ', aih_2017_sample_size, 
      '\nSample AIH 2018 Rows: ', aih_2018_sample_size)

print('Total Number of Rows (in sample): ', total_rows)

Sample AIH 2015 Rows:  4655541
Sample AIH 2016 Rows:  4611084
Sample AIH 2017 Rows:  4624383
Sample AIH 2018 Rows:  2723822
Total Number of Rows (in sample):  16614830

> ### Create a  random sample each year's dataset

*Define helper function to sample each year's dataset.*

In [17]:
def random_row_sample(df, sample_rows, seed = 42):
    
    ''' This function creates a random sample of rows from a dataframe. Parameters are as follows: 
    
        - df = Dataframe to be sampled from
    
        - sample_rows = Number of rows be sample. Default is entire dataframe.
        
        - pct = Percent of rows to sample. Default is 1 or 100%. Acceptable values are <= 1. 
        
        - seed = Random seed to be used. Default is 42.'''
    
    random_seed = random.seed(seed)
    
    rindex =  np.array(sample(range(len(df)), (sample_rows)))
    
    filtered_df = df.loc[rindex]

    return filtered_df

**Create samples for each year.**

In [18]:
%%time

# 2015 Sample

random_sample_2015 = random_row_sample(df = aih_2015, sample_rows = aih_2015_sample_size)

CPU times: user 30 s, sys: 19.3 s, total: 49.3 s
Wall time: 59.3 s

In [19]:
%%time

# 2016 Sample

random_sample_2016 = random_row_sample(df = aih_2016, sample_rows = aih_2016_sample_size)

CPU times: user 30.6 s, sys: 19.9 s, total: 50.4 s
Wall time: 1min 5s

In [20]:
%%time

# 2017 Sample

random_sample_2017 = random_row_sample(df = aih_2017, sample_rows = aih_2017_sample_size)

CPU times: user 29.3 s, sys: 18.8 s, total: 48.1 s
Wall time: 1min 1s

In [21]:
%%time

# 2018 Sample

random_sample_2018 = random_row_sample(df = aih_2018, sample_rows = aih_2018_sample_size)

CPU times: user 19.8 s, sys: 13.7 s, total: 33.5 s
Wall time: 56.5 s

In [22]:
# Print num of rows for each dataframe. Should be same as calculated number of rows above.

print('No. Rows 2015: ', len(random_sample_2015))
print('No. Rows 2016: ', len(random_sample_2016))
print('No. Rows 2017: ', len(random_sample_2017))
print('No. Rows 2018: ', len(random_sample_2018))

No. Rows 2015:  4655541
No. Rows 2016:  4611084
No. Rows 2017:  4624383
No. Rows 2018:  2723822

## Save random samples as a CSV files

In [26]:
%%time

# 2015 sample to CSV

random_sample_2015.to_csv('AIH_random_sample_2015.csv', index = False, 
                           na_rep= 'NaN', encoding='utf-8', 
                           chunksize = 50000)

CPU times: user 8min 48s, sys: 38.6 s, total: 9min 27s
Wall time: 9min 54s

In [28]:
%%time

# 2016 sample to CSV

random_sample_2016.to_csv('AIH_random_sample_2016.csv', index = False, 
                           na_rep= 'NaN', encoding='utf-8', 
                           chunksize = 50000)

CPU times: user 8min 14s, sys: 35.4 s, total: 8min 50s
Wall time: 9min 15s

In [17]:
%%time

# 2017 sample to CSV

random_sample_2017.to_csv('AIH_random_sample_2017.csv', index = False, 
                           na_rep= 'NaN', encoding='utf-8', 
                           chunksize = 50000)

CPU times: user 8min 40s, sys: 43.9 s, total: 9min 24s
Wall time: 10min 4s

In [19]:
%%time

# 2018 sample to CSV

random_sample_2018.to_csv('AIH_random_sample_2018.csv', index = False, 
                           na_rep= 'NaN', encoding='utf-8', 
                           chunksize = 50000)

CPU times: user 5min 1s, sys: 23.4 s, total: 5min 24s
Wall time: 6min 1s

## End of Notebook